$main: #4CD174;
$main-pale: #6FF296;
$main-strong: #2DB974;
$main-palest: #D2FAE0;
$basic-typography: #3F4256;
$black: #1C2B3A;
$disabled-black: #89959B;
$background-main: #F4FDFF;
$red: #EC5A5A;
$white: #FFF;
$bg-white: #FDFEFE;
$light-gray: #787D84;
$active-input: #28A4A5;

$shadow: 0px 36px 73px rgba(214, 214, 214, 0.47);
