@media (max-width: 1200px) {
  .prices {
    .owl-stage-outer {
      margin-bottom: 72px;
    }
  }
}

@media (max-width: 1000px) {
  .prices {
    .owl-item {
      width: 344px !important;
    }
  }
}


@media (max-width: 700px) {
  .prices {
    .owl-item {
      width: 276px !important;
    }
  }
}
